

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Change Task</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
       <%= form_with(model: @task, local: true) do |f| %>
      <div class="modal-body">

        <%= f.text_field :content, value: @task.content, class: "task_edit" %>

      </div>
      <div class="modal-footer">
        <%= link_to 'back', :back, class: "btn_function", id: "back" %>
        <%= f.submit "change" , class: "btn_function" %>
      </div>
    <% end %>
    </div>
  </div>