<%= javascript_pack_tag 'timer' %>

<div class= "time_wrap">
	<div class= "time">
		<div id="clock">
			<p>00:00:00</p>
		</div>
	</div>
</div>


<div class="timer_button_wrap">
	<div class="timer_button">
		<input type="button" id="start" value="Start" class="btn btn-outline-secondary btn-sm">
		<input type="button" id="stop" value="Stop" class="btn btn-outline-secondary btn-sm" disabled>
		<!-- <input type="button" id="restart" value="Restart" class="btn btn-outline-secondary btn-sm" disabled> -->
		<input type="button" id="reset" value="Reset" class="btn btn-outline-secondary btn-sm" disabled>
	</div>
</div>

